*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #000;
    color: #fff;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
}

.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    /*
    row-gap: 9.6rem;
    */
    column-gap: 6.4rem; 
}

.column-gap-none{
    gap: 0; 
}

.column-gap-sm{
    column-gap: 1.2rem; 
}

.column-gap-md{
    column-gap: 2.6rem; 
}

.column-gap-3{
    column-gap: 3rem; 
}

.column-gap-lg{
    column-gap: 18.4rem; 
}

.grid-center{
    justify-items: center;
}

/*
justify-content: center;
*/

.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols{
    grid-template-columns: repeat(4, 1fr);
}


.selected-link{
    color: #e9a929 !important;
}

.text-centered{
    text-align: center;
}


.padding-bot-sm{
    padding-bottom: 2.4rem;
}

.padding-bot-md{
    padding-bottom: 4.2rem;
}

.btn:link,
.btn:visited{
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.4rem 3rem;
    background-color: #fcb72c;
    transition: all 0.3s;
}

.btn:hover,
.btn:active{
    background-color: #fff;
}

.heading-secondary{
    color: #f3b02a;
    font-size: 3.6rem;
    font-weight: 700;
    padding-bottom: 4.2rem;
}

.heading-tertiary{
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 500;
}

.font-weight-400{
    font-weight: 400;
}

