*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #c0c0c0;
    background-color: #121212;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparant; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container{
    max-width: 145rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.padding-lr-s{
    padding: 0 1.2rem;
}

.padding-bot-2-4{
    padding-bottom: 2.4rem !important;
}

.padding-bot-m{
    padding-bottom: 4.2rem !important;
}


.link:link,
.link:visited{
    text-decoration: none;
    color: #41869c;
}

.link:hover,
.link:active{
    color: #ec8f47;
    text-decoration: underline;
}


.sticky{
    position: sticky;
    top: 6.8rem;
    height: 93vh;
    overflow-y: scroll;
}


.sticky-no-border{
    position: sticky;
    top: 0;
    height: 92vh;
    overflow-y: scroll;
}

.sticky::-webkit-scrollbar{
    width: 4px;
    border-right: 1px solid #fff;
}

.sticky-no-border::-webkit-scrollbar{
    width: 4px;
}

.sticky::-webkit-scrollbar-thumb,
.sticky-no-border::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 3px;
}
  
.sticky:hover::-webkit-scrollbar-thumb,
.sticky-no-border::-webkit-scrollbar-thumb{
    background-color: #c0c0c0;
}
