*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #212529;
    overflow-x: hidden;
}

.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.container-108{
    max-width: 108rem;
    padding: 0 3.2rem 3.2rem 3.2rem;
    margin: 0 auto;
}

.container-110{
    max-width: 110rem;
    padding: 0 3.2rem 3.2rem 3.2rem;
    margin: 0 auto;
}

.container-115{
    max-width: 115rem;
    padding: 0 3.2rem 3.2rem 3.2rem;
    margin: 0 auto;
}

.margin-right-sm{
    margin-right: 1rem;
}

.margin-bot-sm{
    margin-bottom: 1rem;
}

.margin-bot-md{
    margin-bottom: 4.8rem;
}

.margin-top-md{
    margin-top: 4.8rem;
}

.margin-top-lg{
    margin-top: 10rem;
}

.margin-top-md{
    margin-top: 4.8rem;
}

.no-padding{
    padding: 0 !important;
}

.btn{
    font-size: 1.4rem;
    font-weight: 600;
   
    text-decoration: none;

    padding: 1.1rem 2.6rem;
    border-radius: 25px;

    transition: all 0.3s;
}

.heading-primary{
    font-size: 6.4rem;
    font-weight: 600;
    padding: 2.4rem;
}

.heading-secondary{
    font-size: 2.4rem;
}


.grid{
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.grid-center{
    justify-items: center;
}

.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols{
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols{
    grid-template-columns: repeat(5, 1fr);
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}